html, body {
    height: 100%;
    width: 100%;
}

.proj_custom {
    border: solid;
    border-radius: 10px;
    border-color: black;
    padding: 30px;
    height: 50%;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
